html, body {
}
body {
	background-color: #f8f8f8;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		     box-sizing: border-box;
}
.center {
  color: #d6d6d6;
	text-align: center;
	margin-top: 50px;
}

/* =================== */
/* PROGRESS BAR LABEL STYLES */
/* =================== */
.progress-label {
	width: 100%;
	max-width: 800px;
	margin: 30px auto 0;
	display: table;
	position: relative;
	text-align: center;
	/*left: 4%;*/
}
.progress-label ul {  
	display: table-row;
}
.progress-label ul li {
	display: table-cell;
	position: relative;
	text-align: center;
}

/* =================== */
/* PROGRESS BAR STYLES */
/* =================== */
.progress {
	width: 100%;
	max-width: 800px;
	margin: 30px auto 0;
	display: table;
	position: relative;
	text-align: center;
	left: 4%;
}
.progress ul {  
	display: table-row;
}
.progress ul li {
	background-color: #d6d6d6; /* Default Bar Color */
	display: table-cell;
	position: relative;
	line-height: 20px;
	z-index: -3;
	color: #FFF;
	text-align: left;
	transition: background-color 0.75s, color 0.5s;
}
.progress ul li::before {
	content:'';
	width: 40px;
	height: 40px;
	color: #FFF;
	line-height: 30px;
	text-align: center;
	left: -15px;
	background-color: #d6d6d6;/* Default Circle Color */
	border: solid 5px #d6d6d6;/* Default Circle Color */
	index: -9;
	position: absolute;
	display: block;
	top: -10px;	
	margin-right: auto;
	margin-left: auto;
	z-index: -1;
	
	transition: background-color 0.75s, color 0.5s;
	
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
/* CURRENT STEP */
.progress ul li.current {
	display: inline-block;
	width: 100%;
	z-index: -3;
	color: #22d20e;
	position: relative;
	transition: background-color 0.75s, color 0.5s;
	
}
.progress ul li.current::before {
	border: solid 5px #22d20e;/* Current Step Circle Color */
	background-color: #FFF;
	transition: background-color 0.75s, color 0.5s;
	
	-webkit-animation: pulse 3s ease-out;
	-moz-animation: pulse 3s ease-out;
	animation: pulse 3s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
/* COMPLETED STEPS */
.progress ul li.complete {
	background-color: #22d20e; /* Completed Step Bar Color */
	transition: background-color 0.75s, color 0.5s;
}
.progress ul li.complete::before {
	background-color: #22d20e; /* Completed Step Circle Color */
	border: 5px solid transparent;
	transition: background-color 0.75s, color 0.5s;
}
/* REMOVE FIRST STEP COLOR BAR LINE */
.progress ul li:last-of-type {
	background-color: transparent;
}
.progress ul li.current:last-of-type,
.progress ul li.complete:last-of-type  {
	background-color: transparent;
}

@-webkit-keyframes pulse {
    0% {-webkit-transform: scale(1, 1);}
    50% {-webkit-transform: scale(1.1, 1.1);}
    100% {-webkit-transform: scale(1, 1);}
}
@-keyframes pulse {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.1, 1.1);}
    100% {transform: scale(1, 1);}
}